html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #89B6B7;
}
/* banner */
.title {
    background-position: center;
    object-fit:fill ;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: auto;
    scale: auto;
    margin-top: 1px;
    z-index: 200;

}

.bolded {
font-weight: bold;
}

.desc {
    font-size: 24px;
}

/* all text styles */
.text .desc {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 10px auto ;
    background-color: #d5b397 ;
    box-shadow: 12px 8px 20px 0px rgba(0, 0, 0, .3);
    border-radius: 23px;
}
/* logos */
.logo {
    width: 450px;
    height: 100%;
    float: left;
}
/* page buttons */
.pages {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 201;


}
/* references */
a {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    background-color: #89B6B7;
    font-weight:bold;
    font-size: 20px;

    
}
/*delivery reports*/
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.report {
    width: 1080px;
    height: 960px;
}


/*calendar(s)*/

.calender-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.cal {
 margin-left: 25px;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap {
    display: flex;
    flex-direction: column;
}