html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #FBFAF5;
}

.title {
    background-position: center;
    object-fit:fill;
    height: 300px;
    width: 1920px;
    margin-top: 5px;
    display: none;

}

.bolded {
font-weight: bold;
}

.desc {
    font-size: 14px;
}

.dropdownbtn {
    padding: 10px;
    background-color: #d1d0c8;
    font-family: cursive;
    color: rgb(59, 95, 59) ;
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #d1d0c8;
    min-width: 160px;
    box-shadow: 16px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdownbtn {
    background-color: #3e9e41 ;
}