html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #89B6B7;
}
/* banner */
.title {
    background-position: center;
    object-fit:fill ;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: auto;
    scale: auto;
    margin-top: 1px;
    z-index: 200;

}

.bolded {
font-weight: bold;
}


/* all text styles */
.desc {
    width: 70%;
    padding: 20px;
    margin: 10px auto ;
    background-color: #d5b397 ;
    box-shadow: 12px 8px 20px 0px rgba(0, 0, 0, .3);
    border-radius: 23px;
    font-size: 24px;
    max-width: 800px;
}
/* logos */
.logo {
    width: 450px;
    height: 100%;
    float: left;
}
/* page buttons */
.pages {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 201;


}
/* references */
a {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    background-color: #89B6B7;
    font-weight:bold;
    font-size: 20px;

    
}
/*delivery reports*/
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.report {
    width: 1080px;
    height: 960px;
}


/*calendar(s)*/

.calender-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.cal {
 margin-left: 25px;
}

.contain {
    display:flex;
    flex-direction: row;    
}

.text {
    flex: 1;
    align-self: center;
}

#indeximage {
    
}

/* slideshow container */

.fullcarousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.Slides {
    display: none;
}

.prev .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover .next:hover {
    background-color: rgba(0,0,0,0,8);
}

.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity:1}
}